
.home-options{
  
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

@media only screen and (max-width: 992px){
.home-options {
    height: 100%;
    width: 100%;
    
}

}

.align-items-stretch {
    -ms-flex-align: stretch!important;
    align-items: stretch!important;
}


