<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Receitas/receitas.css') }}">
    <script src="{{ url_for('static', filename='Receitas/receitas.js') }}"></script>
    <title>{{ title }}</title>
</head>
<body>
    {% include 'Header/header.html' %}
    {% include 'Search/search.html' %}
       
            <div class="main">
                <div class="home-background">
                    <div class="imagem" style="height: 350px;">Plano de fundo 
                        <div class="home-welcome" >
                            <h1 class="home-title">
                                Bem vindo!
                            </h1>
                            <hr style="width: 70vw;">
                            <h2 class="home-subtitle">
                                Criação de Receita

                            </h2>
                            <div clas="align-items-stretch">
                            <div class="home-options">
                                
                                    <div class="box-small card recipe-card" title="Filé de merluza assado com leite de coco">
                                    <div class="" data-mad-adunit="/21636860837/TudoGostoso/Home" data-mad="" id="ad-carrossel1" data-mad-out-of-page="true" data-google-query-id="CLeokrXNv-8CFQoJuQYdYw8FqQ" style="display: none;"><div id="google_ads_iframe_/21636860837/TudoGostoso/Home_2__container__" style="border: 0pt none; width: 1px; height: 1px;"></div><img style="display:none;" alt="" src="https://sb.scorecardresearch.com/p?c1=8&amp;c2=6035191&amp;c3=79174&amp;cj=1&amp;rn=1616268513945"></div>
                                    <a href="/receita/21650-file-de-merluza-assado-com-leite-de-coco.html" class="link row m-0"><picture class="col-5 p-0 thumb">
                                    <img alt="Filé de merluza assado com leite de coco" class="image" src="https://img.itdg.com.br/tdg/images/recipes/000/021/650/352154/352154_original.jpg?mode=crop&amp;width=160&amp;height=220">
                                    </picture>
                                    <div class="col-7 info p-0 px-2">
                                    <div class="category">
                                    <span>
                                    Peixes e frutos do mar
                                    </span>
                                    </div>
                                    <h3 class="title">
                                    Filé de merluza assado com leite de coco
                                    </h3>
                                    <div class="user">
                                    Por
                                    <span>
                                    Elton de Barros Pi...
                                    </span>
                                    </div>
                                    <div class="favorites">
                                    <img alt="Blank" class="ico heart-small" src="https://img.itdg.com.br/tdg/assets/layout/blank.gif">
                                    3.398
                                    </div>
                                    </div>
                                    </a>
                                    </div>
                                    
                                    
                                
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            
            </div>
            
</body>
</html>