<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CadastrarIngredientes/ingredientes.css') }}">
    <script src="{{ url_for('static', filename='CadastrarIngrediente/ingredientes.js') }}"></script>
    
    <title>Seu Caderno de Receitas</title>

</head>
<body>
    {% include 'Header/header.html' %}

    <h1 style="text-align:center; font-size: 2em;">Cadastrar Ingredientes</h1>
    <div class="container">
    <div class="col-xs-12">
        <table class="table">
            <thead>
            <tr>
                <th>Ingrediente</th>
            </tr>
            </thead>
            <tbody>
                {% for i in ingredientes %}
            <tr>
                <td>{{i.nome}}</td>
                <td>
                    <a href="receitas/edit/{{i.id}}">Editar</a> |
                    <a href="receitas/delete/{{i.id}}">Excluir</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
    </div>
        
            <div class="row">
                <div class="ingrediente">
                    <input style="text-align: center; margin-top: 10px;" type="text" name="nome" id="nome" placeholder="Nome do Ingrediente" class="form-control">
                </div>
            </div>
        <br>
            <div class="botão">
                <input class="btn" type="button" value="Adicionar" onclick="addIngrediente()">
            </div>
       
   </div>

   
</body>
