<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CadastrarReceita/cadastrar.css') }}">
    <script src="{{ url_for('static', filename='CadastrarReceita/cadastrar.js') }}"></script>
    
    <title>Seu Caderno de Receitas</title>

</head>
<body>
    {% include 'Header/header.html' %}

    <h1 stile="text-align:center;">Cadastrar Receita</h1>
    <div class="container">
        <div class="col-xs-12">
            <table class="table">
                <thead>
                <tr>
                    <th>Ingrediente</th>
                    <th>Quantidade</th>
                    <th>Ações</th>
                </tr>
                </thead>
                <tbody>
                    {% for i in ingredientes %}
                <tr>
                    <td>{{i.nome}}</td>
                    <td>{{i.qtd}}</td>
                    <td>
                        <a href="receitas/edit/{{i.id}}">Editar</a> |
                        <a href="receitas/delete/{{i.id}}">Excluir</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
        </div>
        

        <div class="nomereceita">
            <input type="text" name="nome" id="nome" placeholder="Nome da receita" class="form-control">     
        </div>
        
            <div class="row">
                
                <div class="col-md-6">
                    <input type="text" name="nome" id="nome" placeholder="Nome do Ingrediente" class="form-control">
                </div>
                <div class="col-md-6">
                    <input type="Integer" name="qtd" id="qtd" placeholder="Quantidade do Ingrediente" class="form-control">
                </div>
                
            </div>
        <br>
            <div class="col-xs-12">
                
                <input class="btn" type="button" value="Adicionar" onclick="addIngrediente()">
            </div>
       
        <section id="modo de preparo">
        <div>
            <h2 style="text-align:center; margin-top: 10px;">Modo de Preparo</h2>
        </div>
        <div>
            <textarea rows="6" style="width: 100%" id="mod_pre_box" name="mod_pre_box"></textarea>
        </div>

        <div class="col-xs-12">

            <input class="btn" type="button" value="Cadastrar receita" onclick="sendReceita()">
            
        </div>
        </section>
   </div>

   
</body>
